.entry-container {
  background-color: #000000;
  background-image: url(https://pub-files.jinshuju.net/bgi/20151127180501_83c486?imageView2/2/w/1920);
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 240px;
  padding-top: 57px;
  padding-bottom: 30px;
}

.entry-container > .entry-container-center {
  position: relative;
  background-color: rgba(255, 255, 255, 0.96);
  max-width: 700px;
  border-width: 0;
  border-color: #999;
  margin: auto;
}

span.report {
  position: absolute;
  width: 30px;
  text-align: right;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  right: 35px;
  bottom: 20px;
}