.comment-main {
  padding: 15px 30px;
  div {
    padding: 15px 0;
    position: relative;
    h3 {
      font-size: 1.167em;
      font-weight: bold;
      color: #333;
      margin-bottom: 2px; 
    }
    p {
      font-size: 12px;
    }
    p:last-child {
      margin-top: 6px;
    }
    .error-message {
      position: absolute;
      bottom: -6px;
      left: 0;
      display: flex; 
    }
  }
}

.comment-main-input {
  box-sizing: border-box;
  width: 260px;
  height: 30px;
  line-height: 30px;
  margin: 6px 0 0 0;
  vertical-align: top;
  padding: 0 6px;
  font-size: 1em;
  font-weight: normal;
  color: #222222;
  background: #FFF;
  border: 1px solid #C3C9D0;
  border-radius: 2px;
  -webkit-tap-highlight-color: transparent;
  &.comment-main-error-input {
    border: 1px solid #FF2851;
  }
}

.comment-instruction {
  border-top: 1px dashed #C3C9D0;
}
