.comment-title {
  background-color: #009aff;
  padding-top: 44px;
  border-bottom: 1px solid #C3C9D0; }
  .comment-title .comment-title-text {
    padding: 25px 30px;
    background-color: rgba(255, 255, 255, 0.96); }
    .comment-title .comment-title-text h3 {
      font-size: 1.833em;
      font-weight: normal;
      color: #222;
      text-align: center;
      margin-bottom: 10px; }
    .comment-title .comment-title-text p {
      font-size: 12px;
      text-align: left;
      line-height: 1.6; }
